* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
}
html,
body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  // font-family: "Black Han Sans", sans-serif;
  font-family: "Single Day", cursive;
  &:hover {
    cursor: none;
  }
}
#textBox {
  width: 100%;
}
@keyframes fadeInOut {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}
.sentence {
  font-size: 48px;
  font-weight: bold;
  margin: 0.5em;
  opacity: 0.3;
  line-height: 200%;
  animation: fadeInOut 1s ease-in-out infinite;
}
.color1 {
  color: #95998a;
}
.color2 {
  color: #bdcc94;
}
.color3 {
  color: #ffec67;
}
.color4 {
  color: #c3b2af;
}
.color5 {
  color: #a9b6cc;
}
