.rolling-letter {
  overflow: hidden;
  padding: 0;
  /* line-height: 150%; */
}

.passing-letter {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-transform: uppercase;
  transform: translateY(0px);
  /* line-height: 150%; */
}
